.body {
    background-color:darksalmon;
}

.h3 {
    font-size: 20px;
    background-color: yellow;
}

.text {
    text-decoration: underline;
    
}

.text-1 {
    text-decoration: underline;
}